.battleBox {
  width: 500px;
  height: 416px;
}

.column {
  float: left;
  width: 600px;
  height: 416px;
  border: 1px solid #000000;
}

.playerStatus, .opponentStatus {
  width: 20%;
}

.battleArena {
  width: 630px;
  border-left: none;
  border-right: none;
}

