/* Leah's idea */

.parent {
	position: relative;
	top: 0;
	left: 0;
}
.emptyBattle {
	position: relative;
	top: 0;
	left: 0;
}
.playerStatus {
	position: absolute;
	top: 190px;
	left: 370px;
}
.opponentStatus {
	position: absolute;
	top: 40px;
	left: 45px;
}
.optionSelect {
	position: absolute;
	top: 292px;
	border: 3px solid #000000;
	width: 625px;
	height: 120px;
	overflow: auto;
}
.optionText {
	width: 50%;
	background-color: #666666;
	height: 100%;
	float: left;
}
.optionButtons {
	width: 50%;
	background-color: #999999;
	height: 100%;
	float: left;
}

/* Max's idea w/some edits to fit BattleCanvas */

.battleBox {
  width: 500px;
  height: 416px;
}

.column {
  float: left;
  width: 600px;
  height: 416px;
  border: 1px solid #000000;
}

.playerStatus_Max, .opponentStatus_Max {
  width: 20%;
}

.battleArena {
  width: 630px;
  border-left: none;
  border-right: none;
}
